<header>
    <!-- header inner -->
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo">
                                <a routerLink="/home"><img class="-mt-4 " src="assets/img/logo.png" alt="#" /></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-md-9">
                    <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                        <div class="navbar-collapse collapse" id="navbarsExample04">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item " [class.selected-menu-item]="selectedMenu=='home'">
                                    <a class="nav-link whitespace-nowrap" routerLink="/home">Home</a>
                                </li>

                                <li class="nav-item m:inline md:hidden lg:inline" [class.selected-menu-item]="selectedMenu=='about'">
                                    <a class="nav-link whitespace-nowrap" routerLink="/about">About us</a>
                                </li>

                                <li *ngIf="userAuthenticated" class="nav-item hidden  md:inline">
                                    <div (click)="toggle()" class="text-lg rounded-full border-2 border-[#bbbbbb] text-center w-8 h-8 -mt-1 cursor-pointer">
                                        <i class="fa fa-user w-full h-full p-2 -mt-1"></i>
                                    </div>
                                    <div [@openClose]="isOpen ? 'open' : 'closed'">
                                        <app-user-dropdown [user]="currentUser"></app-user-dropdown>
                                    </div>
                                </li>

                                <li *ngIf="!userAuthenticated" class="nav-item " [class.selected-menu-item]="selectedMenu=='login'">
                                    <a class="nav-link whitespace-nowrap" routerLink="/login">Sign in</a>
                                </li>


                                <!--
                                <li *ngIf="userAuthenticated && shoppingCartItemsCount>0" class="relative nav-item mr-3 hover:cursor-pointer ">
                                    <a class="nav-link" routerLink="/checkout/cart">
                                        <i class="relative text-xl fa fa-shopping-bag " [class.text-gray-500]="selectedMenu!='checkout/cart'" [class.text-[#EF6D39]]="selectedMenu=='checkout/cart'">
                                          <span class="absolute -top-3 -left-5 badge btn-danger text-base leading-3	 rounded-full w-[22px] h-[22px]">{{shoppingCartItemsCount}}</span>
                                        </i>
                                    </a>
                                </li>

                              -->


                                <li *ngIf="userAuthenticated" class="nav-item  md:hidden" [class.selected-menu-item]="selectedMenu=='profile'">
                                    <a class="nav-link" routerLink="/profile">Profile</a>
                                </li>


                                <li *ngIf="userAuthenticated && currentUser.isAdmin" class="nav-item md:hidden">
                                    <a class="nav-link" routerLink="/adminPanel">Admin Panel</a>
                                </li>
                                <li *ngIf="userAuthenticated" class="nav-item md:hidden">
                                    <a class="nav-link" (click)="logout()" href="javascript:void(0);">Logout</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
