<button type="button" (click)="addCategory()" class="send_btn text-white w-[300px] font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"> Add Category  </button>
<p-table [value]="categories" [lazy]="true" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{'min-width':'20rem'}" editMode="row" (onLazyLoad)="loadCategories($event)" dataKey="id" [paginator]="true" [rows]="take" [totalRecords]="totalRecords"
    [loading]="loading" [first]="first">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Create Date</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
        <tr [pEditableRow]="category">
            <td>
                <span class="p-column-title">Name</span>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" [(ngModel)]="category.name" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{category.name}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>
                <span class="p-column-title">Description</span>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <textarea class=" appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="text" [(ngModel)]="category.description"></textarea>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{category.description}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td><span class="p-column-title">Create Date</span>{{category.dateCreated | date}}</td>
            <td>
                <div class="flex align-items-center justify-content-center gap-2">
                    <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(category)" class="p-button-rounded p-button-text"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(category, ri)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                    <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(category, ri)" class="p-button-rounded p-button-text p-button-danger"></button>

                    <button pButton pRipple type="button" pCancelEditableRow icon="pi pi-trash" (click)="deleteCategory(category, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>
